.header {
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
}

.logo{
    width: 200px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 20px;
}

.res-card{
    padding: 5px;
    margin: 5px;
    width: 250px;
 display: flex;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 100%;
}

.res-container {
    display: flex;
    text-wrap: nowrap;
}

.btn{
    margin: 10px;
    cursor: pointer;
}